.env
.idea/
# Ignore Python version file (pyenv)
.python-version

# Ignore FAISS index files
storage/indexes/*
storage/*/index/
storage/*/quota.json

# Bytecode cache
__pycache__/

# Ignore virtual environments (if created inside project)
.venv/
.venv1/

# Ignore OS files
.DS_Store

stubs/
.eval_artifacts/
.github/
.git
*.pyc
__MACOSX/

#Claude Code support files
CLAUDE.md
PORTFOLIO_GOALS.md