# Ignore patterns for Helm packaging (no doble asterisco **)

# OS / VCS
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Backups / temporales
*.swp
*.bak
*.tmp
*.orig
*~

# IDEs/editores
.project
.idea/
.vscode/
*.tmproj

# Archivos empaquetados
*.tgz

# (Opcional) si tienes estos directorios en tu repo de chart
docs/
.github/
